<script src="/jquery/dist/jquery.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class = "logo" src="/images/snowicon.png" alt="Star Icon"></a></img>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>
        </li>

        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
        </li>
        </li>

        <% if (title == "Projects") { %>
        <li class="nav-item active">
        <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/projects"><i class="fab fa-elementor"></i> Projects </a>
          </li>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/service"><i class="fas fa-cogs"></i> Services </a>
          </li>
        </li>

        <% if (title == "Contact") { %>
        <li class="nav-item active">
        <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact </a>
          </li>
        </li>

        <li class="nav-item dropdown">
          <% if (title == "Business Contact" || title == "Add a new Item") { %>
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> <i class="far fa-id-card"></i> Business Contact</a>
          <% } else { %>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> <i class="far fa-id-card"></i> Business Contact</a>
          <% } %>       
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/business/list">Business Contact</a></li>
            <li><a class="dropdown-item" href="/business/add">Add a new Contact</a></li>
          </ul>
        </li>
        <li class="nav-item">

          
          <% if (typeof userName == 'string' && userName) { %>
              <a class="nav-link active" href="/users"> <i class="fas fa-user"></i> <%= userName %></a>
          <% } else { %>
                <a class="nav-link" href="/users/signin"><i class="fas fa-user"></i> User </a>
          <% } %>            
          
                     
        <li class="nav-item">  
          <% if (typeof userName == 'string' && userName) { %>
            <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure?')"><i class="fas fa-sign-in-alt"></i> Sign Out</a>
          <% } else { %>
            <a class="nav-link" href="/users/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a>
          <% } %>            
        </li> 

      </ul>
    </div>
    </div>
  </nav>